[submodule "ycsb-rs"]
	path = ycsb-rs
	url = https://github.com/penberg/ycsb-rs
[submodule "hoard-allocator/Hoard"]
	path = hoard-allocator/Hoard
	url = https://github.com/emeryberger/Hoard
[submodule "hoard-allocator/Heap-Layers"]
	path = hoard-allocator/Heap-Layers
	url = https://github.com/emeryberger/Heap-Layers
