[submodule "ycsb-rs"]
	path = ycsb-rs
	url = https://github.com/penberg/ycsb-rs
[submodule "hoard-binding/Hoard"]
	path = hoard-binding/Hoard
	url = https://github.com/emeryberger/Hoard
[submodule "hoard-binding/Heap-Layers"]
	path = hoard-binding/Heap-Layers
	url = https://github.com/emeryberger/Heap-Layers
