[submodule "ycsb-rs"]
	path = ycsb-rs
	url = https://github.com/Sethu98/ycsb-rs.git
	branch = ycsb_os
[submodule "hoard-allocator/Hoard"]
	path = hoard-allocator/Hoard
	url = https://github.com/emeryberger/Hoard
[submodule "hoard-allocator/Heap-Layers"]
	path = hoard-allocator/Heap-Layers
	url = https://github.com/emeryberger/Heap-Layers
